/* ------------------------------------------------------------------------------ GALLERY ------------------------------------------------------------ */
#galleria-titolo {
	text-align: center;
	margin: 2.5rem 0;
}


.gallery-grid {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-auto-flow: dense;
	grid-gap: 10px;
	row-gap: 40px;
	justify-content: center;
	text-align: center;

	.img-container {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		
		.gallery-item {
			width: 200px;
		}

		.image {
			animation: cardEntrance 700ms ease-out;
			animation-fill-mode: backwards;
		}		
	}
}

@keyframes cardEntrance {
	from {
		opacity: 0;
		transform: scale(0.3);
		filter: hue-rotate(180deg);
	} to {
		opacity: 1;
		transform: scale(1);
		filter: hue-rotate(0deg);
	}
}



//MODIFIES TO MODAL POP UP
.modal-dialog {
	padding-top: 3rem;
	height: 85% !important;
	display: flex !important;
	flex-direction: column !important;
	justify-content: center !important;
	.modal-content {
		//max-height:  !important;
		height: fit-content;
		.modal-body {
			align-items: center !important;
			justify-content: center !important;
			display: flex !important;
		}
		.modal-footer {
			display: block;
		}
	}
}

.btn:focus,
.btn:active,
button:focus,
button:active {
	outline: none !important;
	box-shadow: none !important;
}

.close {
    font-size: 2.5rem;
}


/* ----------------- HOVER GALLERY IMAGES ------------------ */
.thumb {
	position: relative;
	height: fit-content;

	.img-container {
		box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.6);
		overflow: hidden;
		border-radius: 8px;

		.thumbnail {
			&:hover {
				// .img-thumbnail {
				//     transform: scale(1.1);
				// }

				.description {
					opacity: 0.85;
					transform: translate(0, -50%);
				}
			}

			.img-thumbnail {
				border-radius: 8px;
				padding: 0;
				transition: 0.6s;
			}

			.description {
				position: absolute;
				color: black;
				left: 0;
				right: 0;
				bottom: -15%;
				height: 30%;
				background-color: whitesmoke;
				opacity: 0;
				z-index: 1;
				text-align: center;
				transition: 0.3s;
				border-radius: 8px;
			}
		}
	}
}
