.container > * {
    text-align: center;
}



h1 {
    margin-top: 30px;
    font-size: 80px;
    font-family: 'Bebas Neue', cursive;
}

h2 {
    font-size: 60px;
    font-family: 'Bebas Neue', cursive;
}

p {
    color: black;
    text-align: left;
    text-align: start;
    margin-top: 3rem;
    font-size: 22px;
}

#gifStoria {
margin: 30px 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border-radius: 5px;
  border: 0.5px solid black;
}