* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}


body {
    background: linear-gradient(279deg, #7cd08a, #369cd5);
    background-size: 400% 400%;

    -webkit-animation: sfondo 0s ease infinite;
    -moz-animation: sfondo 0s ease infinite;
    -o-animation: sfondo 0s ease infinite;
    animation: sfondo 0s ease infinite;
}


@-webkit-keyframes sfondo {
    0%{background-position:0% 48%}
    50%{background-position:100% 53%}
    100%{background-position:0% 48%}
}
@-moz-keyframes sfondo {
    0%{background-position:0% 48%}
    50%{background-position:100% 53%}
    100%{background-position:0% 48%}
}
@-o-keyframes sfondo {
    0%{background-position:0% 48%}
    50%{background-position:100% 53%}
    100%{background-position:0% 48%}
}
@keyframes sfondo {
    0%{background-position:0% 48%}
    50%{background-position:100% 53%}
    100%{background-position:0% 48%}
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap');
@import "./pages/galleria.scss";
@import "./pages/index.scss";


