@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background: linear-gradient(279deg, #7cd08a, #369cd5);
  background-size: 400% 400%;
  -webkit-animation: sfondo 0s ease infinite;
  -moz-animation: sfondo 0s ease infinite;
  -o-animation: sfondo 0s ease infinite;
  animation: sfondo 0s ease infinite;
}

@-webkit-keyframes sfondo {
  0% {
    background-position: 0% 48%;
  }
  50% {
    background-position: 100% 53%;
  }
  100% {
    background-position: 0% 48%;
  }
}
@-moz-keyframes sfondo {
  0% {
    background-position: 0% 48%;
  }
  50% {
    background-position: 100% 53%;
  }
  100% {
    background-position: 0% 48%;
  }
}
@-o-keyframes sfondo {
  0% {
    background-position: 0% 48%;
  }
  50% {
    background-position: 100% 53%;
  }
  100% {
    background-position: 0% 48%;
  }
}
@keyframes sfondo {
  0% {
    background-position: 0% 48%;
  }
  50% {
    background-position: 100% 53%;
  }
  100% {
    background-position: 0% 48%;
  }
}
/* ------------------------------------------------------------------------------ GALLERY ------------------------------------------------------------ */
#galleria-titolo {
  text-align: center;
  margin: 2.5rem 0;
  font-family: "Bebas Neue";
  font-size: 70px;
}

.gallery-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-auto-flow: dense;
  grid-gap: 3rem;
  justify-content: center;
  text-align: center;
}
.gallery-grid .img-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gallery-grid .img-container .image {
  animation: cardEntrance 700ms ease-out;
  animation-fill-mode: backwards;
}

#more_images_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3.5rem;
}
#more_images_container #more_images {
  margin: 0 1rem;
  font-size: 1.1rem;
  padding: 0.6rem 0.6rem;
  text-decoration: none;
  border-radius: 10%;
}

@keyframes cardEntrance {
  from {
    opacity: 0;
    transform: scale(0.3);
    filter: hue-rotate(180deg);
  }
  to {
    opacity: 1;
    transform: scale(1);
    filter: hue-rotate(0deg);
  }
}
.modal-dialog {
  padding-top: 3rem;
  height: 85% !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
}
.modal-dialog .modal-content {
  height: fit-content;
}
.modal-dialog .modal-content .modal-body {
  align-items: center !important;
  justify-content: center !important;
  display: flex !important;
}
.modal-dialog .modal-content .modal-footer {
  display: block;
}

#image-gallery-title {
  padding: 0 1.8rem;
}

.btn:focus,
.btn:active,
button:focus,
button:active {
  outline: none !important;
  box-shadow: none !important;
}

.close {
  font-size: 2.5rem;
}

/* ----------------- HOVER GALLERY IMAGES ------------------ */
.thumb {
  position: relative;
  height: fit-content;
}
.thumb .img-container {
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.6);
  overflow: hidden;
  border-radius: 8px;
}
.thumb .img-container .thumbnail:hover .description {
  opacity: 0.85;
  transform: translate(0, -50%);
}
.thumb .img-container .thumbnail .img-thumbnail {
  border-radius: 8px;
  padding: 0;
  transition: 0.6s;
}
.thumb .img-container .thumbnail .description {
  position: absolute;
  color: black;
  left: 0;
  right: 0;
  bottom: -15%;
  height: 30%;
  background-color: whitesmoke;
  opacity: 0;
  z-index: 1;
  text-align: center;
  transition: 0.3s;
  border-radius: 8px;
  overflow: hidden;
  padding-top: 8px;
}

.navbar- {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 3rem;
}
.navbar- .nav-items {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar- .nav-items .nav-button {
  margin: 0 1rem;
  font-size: 1.1rem;
  padding: 0.6rem 0.6rem;
  text-decoration: none;
  border-radius: 10%;
}
.navbar- .nav-titolo {
  font-size: 4rem;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0.8rem;
  font-family: "Bebas Neue";
}

@media screen and (max-width: 650px) {
  .navbar- {
    padding: 0.8rem 1rem;
  }
  .navbar- .nav-titolo {
    font-size: 2.7rem;
  }
  .navbar- .nav-items .nav-button {
    margin: 0 0.5rem;
  }
}
#landing-video {
  object-fit: cover;
  width: 100%;
}

#image-gallery-title {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#container-map {
  padding-top: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#container-map .mappa {
  width: 100%;
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.6);
}

#container-storia {
  text-align: center;
  margin-top: 5rem;
}
#container-storia h1 {
  margin-top: 20px;
  font-size: 80px;
  font-family: "Bebas Neue";
}
#container-storia h2 {
  font-size: 60px;
  font-family: "Bebas Neue";
}
#container-storia p {
  color: black;
  text-align: left;
  text-align: start;
  margin-top: 2rem;
  font-size: 1.7rem;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .container p {
    font-size: 1.1rem !important;
  }
}
@media screen and (max-width: 900px) {
  .container p {
    font-size: 1.4rem;
  }
}
footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2.2rem 0 2rem 0;
}
footer * {
  font-family: "Bebas Neue";
}
footer h2 {
  margin-bottom: 2rem;
}
footer #users-container {
  display: flex;
  justify-content: space-around;
  align-items: space-evenly;
  flex-direction: column;
}
footer #users-container .creator-info {
  margin-bottom: 0.7rem;
  text-align: center;
}
footer #users-container .creator-info p {
  padding: 0.08rem 0;
}

@media screen and (min-width: 800px) {
  footer #users-container {
    flex-direction: row;
  }
  footer #users-container p {
    font-size: 1.2rem;
  }
}

/*# sourceMappingURL=style.css.map */
